.no-display {
    display:none;
}

#notification {
    position: sticky;
    display: inline-flex;
    font-size: 18px;
    font-weight: 70;
    background-color: red;
    width: 30px;
    height: 30px;
    color: aliceblue;
    border-radius: 50%;
    animation: animate 0.9s ease-out infinite alternate;
}

@keyframes animate {
    0%{transform: scale(0.7)}
    100%{transform: scale(1)}
}