:root {
    --primary: rgb(0, 152, 179);
}

.btn {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: aliceblue;
    list-style: none;
    text-align: center;
    justify-content: center;
    font-size: 22px;
    letter-spacing: 0.15rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 10px;
    display: flexbox;
}

.btn:hover {
    padding: 8px 15px;
    transition: all 0.3s ease-out;
    background: rgb(128, 120, 185);
    color: aliceblue;
    transition:  90ms;
    font-size: 1.4rem;
}

.btn--primary {
    background-color: var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: aliceblue;
    padding: 8px 15px;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 20px;
    color: aliceblue;
}

.btn--large {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 22px;
    color: aliceblue;
}