.header-logo {
    background-color: aliceblue;
    justify-self: start;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    max-height: 200px;
    align-content: center;
    padding-left: 20%;
}

.main-footer {
    background: linear-gradient(90deg , rgb(73,63,252,1) 0%, rgb(0, 8, 85) 100%);
    color: aliceblue;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:960px) {
    .header-logo {
        height: 100px;
    }

    .imag{
        width: 130%;
        margin-left: -80px;
    }
}

@media screen and (max-width:752px) {
    .imag{
        width: 150%;
        margin-left: -90px;
    }
}

@media screen and (max-width:500px) {
    .imag{
        width: 190%;
        margin-left: -100px;
    }
}