.form-demo .card {
    min-width: 450px;
}
.form-demo .card form {
    margin-top: 1.5rem;
}
.form-demo .card .field {
    margin-bottom: 0.05rem;    
}
.butup{
    display: none;
}
label{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 90%;
        min-width: 0;
    }
}
