.tabview-demo .tabview-header-icon i, .tabview-demo .tabview-header-icon .tabview-header-nav span {
    vertical-align: middle;
    width: calc(99% - 4px);
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.tabview-demo .tabview-header-icon span {
    margin: 0 .5rem;
}

.tabview-demo .p-tabview p {
    line-height: 1.5;
    margin: 0;
}