.general-container {
    background-color: #ffffff;
    margin: 10px;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-family: 'Mali', cursive;
    text-align: center;
}
.content-wrap{
  flex: 1;
}
.card-title{
  font-weight: bold;
}
.testimonial-card .card-up {
  height: 190px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  }
.testimonial-card .avatar {
  width: 210px;
  margin-top: -110px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}
.capitalLetter
{
   float: left;
   color:black;
   background:white;
   border: none;
   font-size:60px;
   line-height:50px;
   padding:2px;
   margin-right: 5px;
}
.imgHow {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  opacity: 1;
  object-fit: cover;
}

#one {
  background-color:  #00B8D4;
}
#two {
  background-color:  #6d5b98;;
}
#three {
  background-color:  #1A237E;
}
#four {
  background-color:  #FF8A65;
}
#five {
  background-color:  #388E3C;
}

.textBlur {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: rgb(0, 0, 0);
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 5, 0.89, 5);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.textBlur span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.textBlur span:nth-child(1) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textBlur span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textBlur span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textBlur span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.textBlur span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.textBlur span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
